main{
	margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 50px;
}
button{
	width: 80px;
	height: 80px;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	float: left;
	font-weight: bold;
	font-size: 20px;
	background-color: #D4D4D4;
}
.clearfix{
	clear: both;
}
.operand{
	height: 50px;
	width: 140px;
	margin: 10px;
	font-size: 15px;
	text-align: center;
}
.operator{
	height: 50px;
	width: 60px;
	font-size: 15px;
	text-align: center;
}
.number{
	background-color: #F3F3F3;
}
#C{
	background-color: #F8BD2D;
}