
.header{
	max-width: none;
}
h1{
	font-weight: bold;
	padding-left: 0px;
}
h2{
	font-weight: bold;
	padding-left: 0px;
}
.row{
	max-width: none;
}
.header a{
	color: #000;
}
.header span{
	font-size: 3rem;
	font-weight: bold;
}
.inline-list {
	padding-top: 50px;
}
.inline-list > li {
  	display: block;
  	float: left;
  	list-style: none;
  	margin-left: 1.25rem;
}
#first{
	margin-left: 0px;
}
.row{
	padding-bottom: 50px;
}
img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.picture{
	padding-top: 80px;
}