
.header{
	padding: 1rem;
	max-width: none;
}
.row{
	max-width: none;
}
.header a{
	color: #000;
}
.header span{
	font-size: 3rem;
	font-weight: bold;
}
@media only screen and (min-width: medium) {

   body { padding: 3rem; }

}
