
.header{
	padding: 1rem;
	max-width: none;
}
h1{
	font-weight: bold;
	padding-left: 0px;
}
h2{
	font-weight: bold;
	padding-left: 0px;
}
.row{
	max-width: none;
}
.header a{
	color: #000;
}
.header span{
	font-size: 3rem;
	font-weight: bold;
}
.inline-list {
	padding-top: 50px;
}
.row{
	padding-bottom: 50px;
}
img{
	height: 100%;
	border-radius: 50%;
}
.picture{
	padding-top: 80px;
}